
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <script>
      let sidenavToggle = document.querySelector(".sidenav-toggle-button")
      let sideNav = document.querySelector(".sidenav")
      
      sidenavToggle.addEventListener("click", () => {
        sideNav.classList.toggle("open")
      })
    </script>
  </body>
</html>